@import './vendor/normalize';

@import './base/_variables';
@import './base/_mixins';

@import './plugins/slick-slider';

@import './components/Header/_header';
@import './components/Hamburger/_hamburger';
@import './components/Navigation/_navigation';
@import './components/Title/title';
@import './components/ImageBlock/_imageBlock';
@import './components/BlockIcon/_blockIcon';
@import './components/ImageBlockNav/_imageBlockNav';
@import './components/TextBlock/_textBlock';
@import './components/Button/_button';
@import './components/TestimonialBlock/_testimonialBlock';
@import './components/Testimonial/_testimonial';
@import './components/NewsBlock/_newsBlock';
@import './components/ContactBlock/_contactBlock';
@import './components/Footer/_footer';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $bodyColour;
  font-family: $bodyFont;
  font-weight: $fwLight;

  @include mq(tablet-lg) {
    padding-top: 0;
  }
}

.cf {
  overflow: auto;
}

.cf::after {
  content: "";
  clear: both;
  display: table;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p,
li {
  line-height: 1.4;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: $containerMaxWidth;
  padding: 0 $containerPaddingMobile;

  @include mq(desktop) {
    // padding: 0 $containerPaddingDesktop;
  }
}