@import './vendor/normalize';

@import './base/_variables';
@import './base/_mixins';

@import './components/Header/_header';
@import './components/Hamburger/_hamburger';
@import './components/Navigation/_navigation';
@import './components/Footer/_footer';


// @import './vendor/owl.carousel';
// @import './partial/_base';
// @import './partial/_main';
// @import './partial/_buttons';
// @import './partial/_hr';
// @import './partial/_header';
// @import './partial/_nav';
// @import './partial/_footer';
// @import './partial/_masthead';
// @import './partial/_typography';
// @import './partial/_fwSlider';
// @import './partial/_categoryNav';
// @import './partial/_socialLinks';
// @import './partial/_featureNewsPost';
// @import './partial/_cards';
// @import './partial/_pagination';
// @import './partial/_twitter-feed';
// @import './partial/_modal';
// @import './partial/_download';
// @import './partial/_schoolSearch';


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $bodyColour;
  font-family: $bodyFont;
  font-weight: $fwLight;

  @include mq(tablet-lg) {
    padding-top: 0;
  }
}

.cf {
  overflow: auto;
}

.cf::after {
  content: "";
  clear: both;
  display: table;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p,
li {
  line-height: 1.4;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: $containerMaxWidth;
  padding: 0 $containerPaddingMobile;

  @include mq(desktop) {
    // padding: 0 $containerPaddingDesktop;
  }
}