@import './components/nav.scss';
$colour: black;
body {
  background-color: $colour;
  box-shadow: 2px 2px hotpink;
}
@media (min-width: 768px) {
  body {
    background: blue;
    box-shadow: 2px 2px red;
    display: flex;
    flex: 1;
  }
}

html {
  background: white;
}
@media (min-width: 768px) {
  html {
    background: yellow;
  }
}



// @import './vendor/normalize';
// @import './vendor/owl.carousel';
// @import './partial/_variables';
// @import './partial/_mixins';
// @import './partial/_base';
// @import './partial/_main';
// @import './partial/_buttons';
// @import './partial/_hr';
// @import './partial/_header';
// @import './partial/_nav';
// @import './partial/_footer';
// @import './partial/_masthead';
// @import './partial/_typography';
// @import './partial/_fwSlider';
// @import './partial/_categoryNav';
// @import './partial/_socialLinks';
// @import './partial/_featureNewsPost';
// @import './partial/_cards';
// @import './partial/_pagination';
// @import './partial/_twitter-feed';
// @import './partial/_modal';
// @import './partial/_download';
// @import './partial/_schoolSearch';