#ctf {

  .ctf-item {
    @include pStyles;
    border: 1px solid $twitterFeedBorderColour;
    margin: 0 0 20px;
    padding: 20px;
  }

  .ctf-item:first-child {
    border-top: 1px solid $twitterFeedBorderColour;
  }

  .ctf-tweet-text {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-word;

    br {
      display: none;
    }

  }

  a {
    color: $linkColour;
  }

  a:hover {
    color: $linkHoverColour;
  }

}


@media only screen and (max-width: 767px) {
  #ctf {

    .ctf-item:last-child {
      margin-bottom: 0;
    }

    &.ctf-narrow .ctf-context {
      padding-left: 0;
    }
    &.ctf-narrow .ctf-context .ctf-retweet-icon svg {
      margin-left: 0;
    }  
    .ctf-context .ctf-retweet-icon svg {
      margin-left: 15px;
    } 
  }
}

@media only screen and (min-width: 768px) {  
  #ctf {  
    .ctf-tweets,
    .ctf-tweet-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .ctf-item {
      box-shadow: 0px 3px 15px rgba(0,0,0,0.05);
      width: calc(50% - 10px);

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }
}