// Colours
$white: #fff;
$black: #000;
$brandOrange: #f38025;

// Container
$containerPaddingMobile: 20px;
// $containerPaddingDesktop: 45px;
$containerMaxWidth: 1320px;

// Typography
$bodyFont: 'Source Sans Pro',
sans-serif;

$fwLight: 300;
$fwRegular: 400;
$fwSemiBold: 600;
$fwBold: 700;

// $titleColour: $brandRed;
$bodyColour: $black;
// $linkColour: $brandRed;
// $linkHoverColour: $black;


// Header
$headerBorderColour: #cbcbcb;
$headerBorderWidth: 1px;
$hamburgerColour: $brandOrange;

// Nav
$navLinkColour: $white;
$navLinkHoverColour: $white;

// Buttons
$buttonBgColour: $brandOrange;
$buttonColour: $white;
$buttonHoverBgColour: #3c3636;

// Footer
$footerBgColour: #f6f6f6;
$twitterFill: #1da1f2;
$footerLinkHover: $brandOrange;
