.contact-block {
  padding-bottom: 40px;
  @include mq(tablet) {
    padding-bottom: 100px;
  }

  .btn {
    margin-top: 40px;
  }

  .map-address-wrap {
    align-items: center;
    display: flex;
  }

}