.address {
  padding-left: 80px;

  &__title,
  p {
    font-size: 2.5rem;
  }

  &__title {
    font-weight: $fwSemiBold;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 30px;

    a {
      color: $linkColour;
      text-decoration: none;

      &:hover {
        color: $linkHoverColour;
      }

    }

  }

}