.navigation {
  background: rgba(243, 128, 37, .9);
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 98;
}

.navigation-list {

  &__item {

  }

  &__link {

  }
  
}